<div class="container-fluid">
    <div class="row card">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="card-body scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li *ngFor="let menu of menu">
                            <a class="has-arrow waves-effect waves-dark" aria-expanded="false" *ngIf="menu.submenu.length>0 ? true : false"><i [class]="menu.icono"></i><span class="hide-menu">{{menu.titulo}} <span class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                            <a class="waves-effect waves-dark" aria-expanded="false" *ngIf="menu.submenu.length===0 ? true : false"><i [class]="menu.icono"></i><span class="hide-menu">{{menu.titulo}} 
                                </span></a>
                            <ul aria-expanded="false" class="collapse">

                                <li *ngFor="let submenu of menu.submenu">
                                    <a [routerLink]="[submenu.url]" routerLinkActive="active">{{submenu.titulo}} </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- <ul class="list-group list-group-full">

                    <li class="list-group-item active">
                        <a href="javascript:void(0)"><i class="mdi mdi-gmail"></i> Inbox
                        <span class="badge badge-success ml-auto">6</span> </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a routerLink="[submenu.url]" routerLinkActive="active">sdds </a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:void(0)"> <i class="mdi mdi-star"></i> Starred </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:void(0)"> <i class="mdi mdi-send"></i> Draft </a><span class="badge badge-danger ml-auto">3</span></li>
                    <li class="list-group-item ">
                        <a href="javascript:void(0)"> <i class="mdi mdi-file-document-box"></i> Sent Mail </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:void(0)"> <i class="mdi mdi-delete"></i> Trash </a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">

        </div>
    </div>
</div>