#themecolors a {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.sidebar-nav>ul>li>a.active {
    background: bottom;
}

.cdk-focused {
    outline: aliceblue !important;
}

.container-message {
    z-index: 2147483627;
}

[mat-dialog-title] {
    margin: -24px -24px 0px -24px !important;
    padding: 10px 24px;
    background: #2957a4;
    color: #fff;
    cursor: move;
}

.fa {
    align-items: center !important;
    display: inline-flex !important;
}